*{
    margin: 0 auto;
    font-family: Verdana,Tahoma, sans-serif;
    font-size: 17px;
}

body{
    background-color: dimgray;
}

header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("../img/572763.jpg") ;
}

header>*a{
    text-decoration: none;
}


nav{
    height: 5%;
    width: 100%;
    position: fixed;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.logo>img{
    width:10%;
    height: auto;
}

div.liens-navigation{
    text-transform: uppercase;
}

main{
   height: 100vh;
}

#formulaire{
    background-color: rgb(240, 248, 255);
    margin:0% 15%;
    width: 60%;
    height: 20vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 

.text{
   border-bottom:solid;
}


div.div1>input{
    border: none;
    border-bottom-style:solid;
    border-bottom-width: 2px;
    border-bottom-color:dimgray;
}
.div1>#nom-utilisateur{
    margin-right: 3vw;
}

input.bout1on{
    background-color: aqua;
}



span{
    display: inline-block;
    width: 80vw;
}

/*portail*/


  